In [1]:
t = (4,5,6,7)
t

(4, 5, 6, 7)

In [2]:
l= [10,4,20.4,30.00]
l

[10, 4, 20.4, 30.0]

In [3]:
s = 'xyztr'
s

'xyztr'

In [5]:
for i in t:  # iterable is any object that you can use looping
    print(i, end =' ')

4 5 6 7

In [ ]:
help('range')
# run this code to get more help

In [9]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [10]:
#nested loops  are important in any programming language
for i in range(2):
    print(i)

0
1

In [11]:
for j in range(5):
    print(j)

0
1
2
3
4

In [12]:
#nested loops are loop inside loop 

for i in range(2):
    for j in range(5):
        print([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [2]:
for i in ['Gold' , 'Silver','Bronze']: #outer
    for j in range(5):  #inner
        print([i,j])

['Gold', 0]
['Gold', 1]
['Gold', 2]
['Gold', 3]
['Gold', 4]
['Silver', 0]
['Silver', 1]
['Silver', 2]
['Silver', 3]
['Silver', 4]
['Bronze', 0]
['Bronze', 1]
['Bronze', 2]
['Bronze', 3]
['Bronze', 4]

In [7]:
products= ['product A' , 'product B']
exp_sales= [10,12,50,34,25]

for i in products:
    for j in sales:
        print([i,j])

['product A', 10]
['product A', 12]
['product A', 50]
['product A', 34]
['product A', 25]
['product B', 10]
['product B', 12]
['product B', 50]
['product B', 34]
['product B', 25]

In [8]:
products= ['Gold' , 'Silver'] #triple nested loop just like your triple whoper menu
sales= [10,12,50,34,25]
timeHorizon = (1,3,12)
for prods in products:  # outer loop
    
    for sale in exp_sales:   #inner loop
        
        for t_hor in timeHorizon:
            print('Expected sales for specific period of {0} months for {1}: ${sales}'.format(t_hor,prods,sales= sale*t_hor))
    print('\n')
    print('SPACE')
    print('\n')

Expected sales for specific period of 1 months for Gold: $10
Expected sales for specific period of 3 months for Gold: $30
Expected sales for specific period of 12 months for Gold: $120
Expected sales for specific period of 1 months for Gold: $12
Expected sales for specific period of 3 months for Gold: $36
Expected sales for specific period of 12 months for Gold: $144
Expected sales for specific period of 1 months for Gold: $50
Expected sales for specific period of 3 months for Gold: $150
Expected sales for specific period of 12 months for Gold: $600
Expected sales for specific period of 1 months for Gold: $34
Expected sales for specific period of 3 months for Gold: $102
Expected sales for specific period of 12 months for Gold: $408
Expected sales for specific period of 1 months for Gold: $25
Expected sales for specific period of 3 months for Gold: $75
Expected sales for specific period of 12 months for Gold: $300


SPACE


Expected sales for specific period of 1 months for Silver: $10
Expected sales for specific period of 3 months for Silver: $30
Expected sales for specific period of 12 months for Silver: $120
Expected sales for specific period of 1 months for Silver: $12
Expected sales for specific period of 3 months for Silver: $36
Expected sales for specific period of 12 months for Silver: $144
Expected sales for specific period of 1 months for Silver: $50
Expected sales for specific period of 3 months for Silver: $150
Expected sales for specific period of 12 months for Silver: $600
Expected sales for specific period of 1 months for Silver: $34
Expected sales for specific period of 3 months for Silver: $102
Expected sales for specific period of 12 months for Silver: $408
Expected sales for specific period of 1 months for Silver: $25
Expected sales for specific period of 3 months for Silver: $75
Expected sales for specific period of 12 months for Silver: $300


SPACE

In [32]:
# list operations

numbers = [1,2,3,4,5,664,7456]
numbers

[1, 2, 3, 4, 5, 664, 7456]

In [33]:
new_numbers = []
for n in numbers:
    new_numbers.append(n*2)
print(new_numbers)

[2, 4, 6, 8, 10, 1328, 14912]

In [34]:
for i in range(2):
    for j in range(5):
        print(i+j,end = ' ')

0 1 2 3 4 1 2 3 4 5

In [35]:
new_list_comprehension_1 = [i+j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [36]:
type(new_list_comprehension_1)

list

In [37]:
print(new_list_comprehension_1)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [38]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
[num ** 3 for num in range(1, 11) if num % 2 != 0 ]

[1, 27, 125, 343, 729]

In [40]:
for i in range(1, 11):
    if i % 2 != 0:
        print(i ** 3, end = " ")

1 27 125 343 729

In [42]:
def raise_to_the_power_of_2(x):   #lambda functions to make yourself look cool
    return x ** 2

In [43]:
raise_to_the_power_of_2(3)

9

In [44]:
lambda x: x ** 2

In [45]:
raise_to_the_power_of_2_lambda = lambda x: x ** 2

In [52]:
raise_to_the_power_of_2_lambda(5)

25

In [53]:
(lambda x: x / 2)(11)

5.5

In [59]:
sum_xy = lambda x, y: x + y
sum_xy(2,7)

9

In [61]:
sum_xy = lambda x, y,z: x + y + z  # lambda functions are good when you want to add a mathematical formulation!
sum_xy(2,7,3)

12

In [54]:
(lambda x: (2 + 5 * x ** 4) ** 2 / (x + 3) ** 3)(2)

53.792

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 3.
<br> $$
\frac{(135 - x^3)^4}{(1 + x)^5}
$$

In [1]:
(lambda x: (135 - x ** 3) ** 4 / (1 + x) ** 5)(3)

132860.25

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [56]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.  triple nested loop

In [57]:
quantities = [1000, 1500, 1300]